.dashboard {
  margin-top: 5%;
  /* width: 60%;
  margin-left: 20%; */
}

.dashboard-image {
  height: 150px !important;
  width: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.kid-image {
  border: 2px solid;
}

.dependent-figure {
  position: relative;
}

.dependent-figure .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
}

.add {
  display: flex;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
}

.add-image {
  color: #d3d3d3;
  font-size: 4.5rem !important;
}

.add-dependent {
  justify-content: center;
}

.profile-photo {
  border: 2px solid;
}

.nav-link.active {
  font-weight: bold !important;
}

.nav-tabs .nav-link {
  color: #000;
}

.category {
  border-radius: 0 !important;
  margin-bottom: 8px;
}

td {
  vertical-align: middle !important;
}

.personal-details {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
}

.dependent-detail {
  width: 70%;
  margin-left: 15%;
}

.show-personal-details {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 563px) {
  .personal-details {
    width: 100%;
    margin-left: 0;
  }
}
